# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Python packaging
pip-wheel-metadata/

# Logs
*.log